
.hexagon-gallery .hexagon:nth-child(1){
    top: 0;
}
.hexagon-gallery .hexagon:nth-child(3){
    bottom: 0;
}
.culture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
    text-align: center;
    width: 100%;
    /* max-width: 1200px; Adjust as needed */
    padding: 20px;
    overflow: hidden;
}

.hexagon-gallery {
    display: grid;
    grid-template-columns: repeat(7, 160px); /* 7 hexagons with 160px width each */
    gap: 20px; /* spacing between hexagons */
    justify-content: center;
    align-items: center;
}

.hexagon {
    margin-top: 15px;
    position: relative;
    width: 160px;
    height: 180px;
    display: flex;
    list-style: none;
}

.hex {
    width: 100%;
    height: 100%;
    background: #424242;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex img {
    filter: brightness(0.5);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.hex img:hover {
    transform: scale(1.1);
    filter: brightness(1);
}


h1{
    margin-top: 20px;
    color: #ffa343;
    text-align: center;
    text-transform: capitalize;
    font-size:50px;
}
p{
    margin-top: 10px;
    color: #ffa343;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    text-align: center;
}

.modal-content img {
    max-width: 100%;
    margin-bottom: 15px;
}

.modal-content p {
    margin: 0;
    font-size: 18px;
    color: #ffffff;
}

