.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffa343;
  text-shadow: 0 0 3px #0000,0 0 5px #0000;
}

.content p {
  font-size: 1.2rem;
}
.btn {
  background-color: #ffa343;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none; /* Remove underline */
}

.btn:hover {
  background-color: #ff7c00; /* Darker color on hover */
}
/* Home.css */

.slider {
  position: relative;
}

.slider img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Slider navigation buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

